@media (orientation: portrait) {
    .main-avatars-wrap span img {
        width: 320px;
        margin: 0 -50px -6px;
    }
}

@media (orientation: landscape) {
    canvas {
        height: 100vh;
    }
    .section-con {
        justify-content: center;
        padding-top: 0;
    }
    .content-con {
        justify-content: center;
        padding-top: 0;
    }
    .section-inner {
        display: flex;
        justify-content: space-between;
    }
    .section-inner-con {
        width: 40%;
    }
    .content-inner {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .content-inner-con {
        width: 48%;
    }
    .t-right {
        text-align: right;
    }
    .top-plus {
        margin-top: 12rem;
    }
    .center-line {
        margin: 5rem 0;
        height: 10rem;
    }
    .foot-link {
        flex-direction: row;
    }
}

@media (max-width: 400px) {
    .notice {
        display: inline-block;
    }
    .member {
        margin-top: -40vh;
    }
    .member-con {
        width: 500px;
    }
    .roadmap-con {
        width: calc(50% - 1rem);
    }

    .project-odd{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 5;
        margin-top: -45vh;
    }

    .project-even{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 6rem;
        margin-bottom: 6rem;
        z-index: 5;
        margin-top: -45vh;
    }

    .roadmap-con {
        width: 100%;
        text-align: left;
        border-radius: 0.7rem;
        margin: 0.2rem;
        padding: 1.5rem 2rem;
        color: #fff;
        background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px,solid,rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .roadmap-con-title a{
        text-decoration: none;
        color: #171010;
        background-color: #fff;
        padding: 0.4rem;
        border-radius: 20%;
        margin: 0.2rem;
        font-size: 0.8rem;
    }

    .member {
        margin: 5%;
        padding:0;
        position: relative;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        z-index: 5;
        margin-top: -30vh;
        background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px,solid,rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .member-con-inner{
        text-align: center;
        font-size: 0.5rem;
        margin: 0.5rem 1rem;
    }

    
.member-con {
    width: 60%;
}

.main-avatars-wrap span img {
    width: 60px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.notice {
    display: none;
    visibility: collapse;
    margin-right: 0.3rem;
}
.main-key-wrap {
    font-size: 1.6rem;
    line-height: 1.6em;
}

.section-inner-con{
    color: #000;
}
    
.qualification{
    padding-top: 2rem;
}

.qualification-title{
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
}
}

@media (min-width: 600px) {
    .notice {
        display: inline-block;
    }
    .member {
        margin-top: -40vh;
    }
    .member-con {
        width: 500px;
    }
    .roadmap-con {
        width: calc(50% - 1rem);
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 0.9rem;
    }
    .main-copy-wrap {
        font-size: 12rem;
    }
    .main-key-wrap {
        font-size: 2.7rem;
    }
    .main-con-wrap {
        font-size: 4rem;
    }
    .team-copy {
        margin: 10vh;
    }
    .roadmap-con {
        width: calc(33.333% - 1rem);
    }
    .r-tit {
        font-size: 1.2rem;
    }
    .member {
        margin-top: -50vh;
    }
    .member-con {
        width: 650px;
    }
    .team-copy1-wrap,
    .team-copy2-wrap,
    .team-copy3-wrap {
        font-size: 9rem;
    }
    .foot-copy {
        font-size: 11vw;
    }
}

@media (min-width: 1240px) {
    .member {
        margin-top: -60vh;
    }
}