@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default Settings */

html{
    /* background: #808080; */
}

body {
    -webkit-font-smoothing: antialiased;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.t-bold {
    font-weight: 800;
    color: #000;
}

.t-bold-yellow{
    font-weight: 800;
    color: #fff01f;
}

.t-normal {
    font-weight: 400;
}

.t-normal-yellow {
    font-weight: 400;
    color:#fff01f;
}

.t-normal-grey {
    font-weight: 400;
    color:#808080;
}

.t-thin {
    font-weight: 200;
    color: #000;
}

.t-thin-yellow{
    font-weight: 200;
    color: #fff01f;
}

.t-italic {
    font-style: italic;
}

.t-stroke {
    color: transparent;
    -webkit-text-stroke: 1px #171010;
}

.t-stroke-white {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.t-stroke-yellow{
    color: transparent;
    -webkit-text-stroke: 1px #fff01f;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: left;
}

.t-center {
    text-align: center;
}

.s-tit {
    padding: 0.3em 0;
}

/* Site Designs */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Urbanist', 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.4em;
    /* letter-spacing: 1px; */
    color: #171010;
    background: #808080;
}
header {
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    z-index: 50;

    background: rgba( 95, 95, 95, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    /* border-radius: 10px; */
}

header h1 {
    font-size: 1.5rem;
}

header h1 a {
    color: #171010;
    text-decoration: none;
}

.tm {
    font-family: 'Noto Sans KR', sans-serif;
}

.header-right {
    margin-left: auto;
}

.header-right .notice {
    text-align: right;
}

.notice {
    display: none;
    margin-right: 0.5em;
}

.notice a{
    margin-right: 3rem;
}

.button-round {
    padding: 0.4em 0.7em;
    border-radius: 1rem;
    border: 1px solid #171010;
    color: #fff;
    background: #171010;
}

canvas {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    height: 70vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.main-copy {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    z-index: -1;
}

.main-copy-wrap {
    font-size: 6rem;
    letter-spacing: -2px;
    line-height: 1em;
    padding-right: 0.3em;
    animation: textLoop 24s linear infinite;
}

@keyframes textLoop {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}


.section-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    padding-top: 3rem;
}

.section-inner {
    width: 90%;
    max-width: 1200px;
}

.section-inner-con {
    width: 100%;
    margin: 0.7rem 0;
}

.section-inner-con p {
    margin: 0.7rem 0;
}

.main-key-wrap {
    font-size: 1.6rem;
    line-height: 1.2em;
}

.main-con-wrap {
    font-size: 2rem;
    line-height: 1.2em;
}

/* .content-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* overflow-x: hidden; */
    /* text-align: center; */
/* } */

.content-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    text-align: center;
}

.dual-content{
    width: 100vw;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    box-sizing: border-box;

}

.content-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5vh 5vw;
    padding-bottom: 0;
    height: fit-content;
    background-color: #fff01f;
    position: sticky;
    top:40px;
    z-index: 6;

}

.content-inner {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.content-inner-con {
    width: 100%;
    margin: 0.8rem 0;
}

.top-plus {
    margin-top: 0;
}

.c-avatar {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    background: #fff;
}

.main-avatars {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 5rem;
}

.main-avatars-wrap {
    animation: avatarsLoop 24s linear infinite;
}

.main-avatars-wrap span img {
    width: 120px;
    margin-left: 6rem;
    margin-right: 6rem;
}

@keyframes avatarsLoop {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.c-roadmap {
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    background: #fff;
    /* color: #fff; */
    border-bottom: 1px dashed #777;
}

.roadmap {
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 1rem 10rem;
}

.roadmap-con {
    width: 100%;
    text-align: left;
    border-radius: 0.7rem;
    margin: 0.5rem;
    padding: 1.5rem 2rem;
    color: #fff;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px,solid,rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.roadmap-con .r-tit {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2em;
    padding: 0.2em 0;
    letter-spacing: -0.95px;
}

.roadmap-con p {
    margin: 0.5em 0;
}

.roadmap-con p a{
    text-decoration: none;
    padding: 0.4em 0.7em;
    border-radius: 1rem;
    border: 1px solid #171010;
    color: #171010;
    background: #fff;
}

.roadmap-con-title{
    width: 100%;
    text-align: left;
    border-radius: 0.7rem;
    margin: 0.5rem;
    padding: 1.5rem 2rem;
    color: #fff;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px,solid,rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.roadmap-con-title .r-tit {
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.2em;
    padding: 0.2em 0;
    /* letter-spacing: -0.95px; */
}

.roadmap-con-title p {
    margin: 0.5em 0;
}

.roadmap-con-title a{
    text-decoration: none;
    color: #171010;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10%;
    margin: 1rem;
    font-size: 0.8rem;
}

.c-team {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    background: #171010;
    color: #fff;
}

.team-copy {
    margin: 10vh 0;
}

.team-copy1,
.team-copy2,
.team-copy3 {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.team-copy1-wrap,
.team-copy2-wrap,
.team-copy3-wrap {
    font-size: 5rem;
    letter-spacing: 0px;
    line-height: 1em;
    padding-right: 0.3em;
    margin: -0.3rem 0;
}

.team-copy1-wrap {
    animation: subLoop1 32s linear infinite;
}

.team-copy2-wrap {
    animation: subLoop2 24s linear infinite;
}

.team-copy3-wrap {
    animation: subLoop3 48s linear infinite;
}

@keyframes subLoop1 {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes subLoop2 {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes subLoop3 {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.member {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 5;
    margin-top: -45vh;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px,solid,rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.member-con {
    width: 90%;
}

.member-con img {
    width: 20%;
    /* margin-bottom: 0.5rem; */
}

.member-con-inner {
    margin: 0.7rem 2rem;
}

.center-line {
    margin: 3rem 0;
    width: 1px;
    height: 7rem;
    background: rgba(255, 255, 255, 0.5);
}

.c-operation {
    position: relative;
    width: 100%;
    height: 100%;
    background: #171010;
    color: #fff;
    margin: -1px 0;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: #171010;
    color: #fff;
    padding: 0 0 2rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.foot-link {
    display: flex;
    flex-direction: column;
}

.foot-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 0.5em;
    margin: 0.5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
}

.foot-link a:hover {
    background: #fff;
    color: #000;
}

.foot-copy {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 15vw;
    letter-spacing: -2px;
    line-height: 0.9em;
}

.linethrough a {
    text-decoration: line-through;
}

#contacts-side{
    background-color: #171010;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    bottom: 0;
    left: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#contacts-side a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}


.qualification{
    padding-top: 5rem;
}

.qualification-title{
    font-weight: 900;
    font-size: 2rem;
    color: #000;
}

.project-map{
width: 70%;   
}

.project-even{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 6rem;
    margin-bottom: 6rem;
    z-index: 5;
    margin-top: -60vh;
    padding: 0 3.5rem;
}

.project-odd{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5;
    margin-top: -60vh;
    padding: 0 3.5rem;
}

svg{
    color: inherit;
    fill: inherit;
}

/* Responsive CSS */
@media (orientation: portrait) {
    .main-avatars-wrap span img {
        width: 320px;
        margin: 0 -50px -6px;
    }
}

@media (orientation: landscape) {
    canvas {
        height: 100vh;
    }
    .section-con {
        justify-content: center;
        padding-top: 0;
    }
    .content-con {
        justify-content: center;
        padding-top: 0;
    }

    .dual-content {
        justify-content: space-between;
        padding-top: 0;
    }
    .content-header{
        flex-direction: row;
    }

    .section-inner {
        display: flex;
        justify-content: space-between;
    }
    .section-inner-con {
        width: 40%;
    }
    .content-inner {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .content-inner-con {
        width: 48%;
    }
    .t-right {
        text-align: right;
    }
    .top-plus {
        margin-top: 12rem;
    }
    .center-line {
        margin: 5rem 0;
        height: 10rem;
    }
    .foot-link {
        flex-direction: row;
    }
    
}

@media (max-width: 600px) {
#contacts-side{
    height: 30vh;
}
    .notice {
        display: inline-block;
    }
    .member {
        margin-top: -40vh;
    }
    .member-con {
        width: 500px;
    }
    .roadmap-con {
        /* width: calc(50% - 1rem); */
    }
    .project-map{
        margin-top: 20vh;
    }
    .project-odd{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 5;
        margin-bottom: 20vh;
    }

    .project-even{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* margin-top: 6rem;
        margin-bottom: 6rem; */
        z-index: 5;
        margin-bottom: 20vh;
    }
    .team-copy1-wrap,
.team-copy2-wrap,
.team-copy3-wrap {
    font-size: 5rem;
    letter-spacing: 0px;
    line-height: 1em;
    padding-right: 0.3em;
    
    margin: 2rem 0;
}
    .team-copy{
        margin: 20vh 0;
    }

    .roadmap-con {
        width: fit-content;
        text-align: left;
        border-radius: 0.7rem;
        margin: 0.2rem;
        padding: 1.5rem 2rem;
        color: #fff;
        background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px,solid,rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .roadmap-con-title{
        /* width: 80vw; */
    }

    .roadmap-con-title a{
        text-decoration: none;
        color: #171010;
        background-color: #fff;
        padding: 0.4rem;
        border-radius: 20%;
        margin: 0.2rem;
        font-size: 0.8rem;
    }

    .member {
        margin: 5%;
        padding:0;
        position: relative;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        z-index: 5;
        margin-top: -30vh;
        background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px,solid,rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .member-con-inner{
        text-align: center;
        font-size: 0.5rem;
        margin: 0.5rem 1rem;
    }

    
.member-con {
    width: 60%;
}

.main-avatars-wrap span img {
    width: 60px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.notice {
    display: none;
    visibility: collapse;
    margin-right: 0.3rem;
}
.main-key-wrap {
    font-size: 1.6rem;
    line-height: 1.6em;
}

.section-inner-con{
    color: #000;
}
    
.qualification{
    padding-top: 2rem;
}

.qualification-title{
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
}
}

@media (min-width: 600px) {
    .notice {
        display: inline-block;
    }
    .member {
        margin-top: -40vh;
    }
    .member-con {
        width: 500px;
    }
    .roadmap-con {
        width: calc(50% - 1rem);
    }
}


@media (min-width: 720px) {
    body {
        font-size: 0.9rem;
    }
    .main-copy-wrap {
        font-size: 12rem;
    }
    .main-key-wrap {
        font-size: 2.7rem;
    }
    .main-con-wrap {
        font-size: 4rem;
    }
    .team-copy {
        margin: 10vh 0;
    }
    .roadmap-con {
        width: calc(33.333% - 1rem);
    }
    .r-tit {
        font-size: 1.2rem;
    }
    .member {
        margin-top: -50vh;
    }
    .member-con {
        width: 650px;
    }
    .team-copy1-wrap,
    .team-copy2-wrap,
    .team-copy3-wrap {
        font-size: 9rem;
    }
    .foot-copy {
        font-size: 11vw;
    }
    .dual-content{
        flex-direction: row;
    }
    .content-header{
        padding:2vh 0;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (min-width: 1240px) {
    .member {
        margin-top: -60vh;
    }
}


/* Loading CSS */
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #b9b9b9;
    opacity: 0;
    transition: 0.5s;
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 5);
}

.before-load .loading {
    opacity: 1;
}

@keyframes loading-spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-circle-ani {
    0% {
        stroke-dashoffset: 157;
    }
    75% {
        stroke-dashoffset: -147;
    }
    100% {
        stroke-dashoffset: -157;
    }
}

.loading-circle {
    width: 250px;
    height: 250px;
    animation: loading-spin 2s infinite;
}

.loading-circle img {
    width: 250px;
    height: 250px;
}

.loading-circle circle {
    stroke: #171010;
    stroke-width: 4;
    stroke-dasharray: 157, 157;
    stroke-dashoffset: 0;
    fill: transparent;
    animation: loading-circle-ani 1s infinite;
}